{
  "presets": ["es2015"],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    },
    "production": {
      "presets": ["minify"]
    }
  }
}
