.DS_Store
node_modules/
dist/
lib/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
packages/*/index.js
packages/*/index.js.map
lerna-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
