.vc-animation-in.vc-animation-init {
  opacity: 0;
  transform: translateY(100%) translateZ(0);
}

.vc-animation-in {
  opacity: 1;
  transform: translateY(0%) translateZ(0);
}

.vc-animation-out {
  opacity: 0;
  transform: translateY(100%) translateZ(0);
  transition-duration: 400ms;
}