.vc-slide-up-in.vc-slide-up-init {
  opacity: 0;
  transform: translateY(100%) translateZ(0);
}

.vc-slide-up-in {
  opacity: 1;
  transform: translateY(0%) translateZ(0);
}

.vc-slide-up-out {
  opacity: 0;
  transform: translateY(100%) translateZ(0);
  transition-duration: 400ms;
}

.vc-zoom-in.vc-zoom-init {
  opacity: 0;
  transform: scale(0.8) translateZ(0);
}

.vc-zoom-in {
  opacity: 1;
  transform: scale(1) translateZ(0);
}

.vc-zoom-out {
  opacity: 0;
  transform: scale(0.8) translateZ(0);
}

.vc-effect-turbulence-in {
  animation: vc-animation-turbulence-in 280ms;
}

.vc-effect-turbulence-out {
  animation: vc-animation-turbulence-out 280ms;
}

.vc-animation-fake-off-in {
  animation: vc-animation-fake-off 10ms ease forwards;
}

.vc-animation-fake-off-out {
  animation: vc-animation-fake-off 10ms ease reverse;
}

@keyframes vc-animation-fake-off {
  0%  {opacity: 0.99;}
  100%{opacity: 1;}
}

@keyframes vc-animation-turbulence-out{
  0%{
    -webkit-filter: url('#vc-effect-turbulence');
    opacity: 1;
  }
  100%{
    -webkit-filter: url('#vc-effect-turbulence');
    opacity: 0;
  }
}

@keyframes vc-animation-turbulence-in{
  0%{
    -webkit-filter: none;
    opacity: 0;
  }
  10%{
    -webkit-filter: url('#vc-effect-turbulence');
  }
  100%{
    -webkit-filter: none;
    opacity: 1;
  }
}
